<table id="location" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="location_info">
  <thead>
    <tr role="row">
      <th aria-label="Name of the location">Name</th>
      <th aria-label="name of Parent Location">Parent</th>
      <th aria-label="Address">Address</th>
      <th aria-label="City">City/Locale</th>
      <th aria-label="State">State</th>
      <th aria-label="State">Actions</th>
    </tr>
  </thead>
  <tbody> 
  <tr role="row" class="odd" *ngFor="let location of locations">
    <td class="sorting_1">{{location.name}}</td>
    <td>{{location.parent}}</td>
    <td>{{location.address}}+</td>
    <td>{{location.locale}}</td>
    <td>{{location.state}}</td>
    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button>
            <button type="button" class="btn btn-info"><a href="/view-location/{{location.uuid}}"><i class="fa fa-eye"></i></a></button>
            <button type="button" class="btn btn-info"><i class="fa fa-trash"></i></button>
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Copy</a></li>
              </ul>
            </div>
          </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr *ngIf="locations?.count > 10">
    <th>Rendering engine</th>
    <th>Browser</th>
    <th>Platform(s)</th>
    <th>Engine version</th>
    <th>CSS grade</th>
    <th colspan="2" aria-label="State">Actions</th>
  </tr>
  </tfoot>
</table>